<h1>This is a test</h1>

<p class="results"> {{results}} </p>

<table>
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th>Age</th>
  </tr>
  {{#each results}}
  <tr>
    <td>{{this.name}}</td>
    <td>{{this.id}}</td>
    <td>{{this.age}}</td>
  </tr>
  {{/each}}
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
